@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    --color-white: #fafdfd;
    --color-black: #172b4d;
    --color-gray-0: #fbfbfb;
    --color-gray-1: #f4f5f7;
    --color-gray-2: #eaecef;
    --color-gray-3: #b7b9be;
    --color-gray-4: #808289;
    --color-primary: #26b9d9;
    --color-secondary: #10768d;
    --color-red:red;    
    --color-container:#fafdfd;
    color:var( --color-black);
}
.container-body{
    width: 100%;
    max-width: 1200px;
    min-height: calc(100vh - 137px);
    flex: 1;
}
body{
    --color-background: #e5f6fc;
    background-color:var(--color-background);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
