.containerSearchProduct{
    margin-bottom: 10px;
    
}

.searchProductfilterMovile .filter{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:larger;
}
.searchProducts{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.searchProductList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 5px;
    justify-content: center;
    justify-items: center;
    
}
.searchProduct{
    background-color: var(--color-container);
    color: var(--color-black);
    border-radius: 20px;
    width: min-content;
    padding: 5px;
}
.searchProduct:hover{
    cursor: pointer;
}

.pagination{
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.pagination a{
    font-size: large;
    cursor: pointer;
}
.searchProductfilter{
    margin: 5px;
}
.searchProductfilterMovile{
    display: none;
}
@media only screen and (max-width: 950px) {
    .searchProductList{
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }
}
@media only screen and (max-width: 768px) {
    
    .searchProductList{
        width: 100vi;
    }
    .searchProductfilter{
        display: none;
    }
    .searchProducts{
        display: flex;
        flex-direction: column;
    }
    .searchProductfilterMovile{
        display: flex;
    }
    .searchProductfilterMovile button {
        width: 100%;
        margin: 5px;
    }
}