.princeRange{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}
/* .princeRange div{
    max-width: 100%;
} */
.princeRange .input{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.princeRange .input >div{
    width: max-content;
}
.princeRange .input p{
    margin-right: 5px;
}
.princeRange .slider{
    width: 90%;
}

/* .categoryRange{

} */
.categoryRangeGroup{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}