

.card  {
    width: 210px;
    height: 365px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    
}
.card:hover{
    cursor: pointer;
}
/* .card:hover{
    border: 1px solid var(--color-gray-3);
    border-radius: 5px;
} */
    
.card img {
        width: 200px;
        height: 200px;
        object-fit: contain;
        justify-content: space-between;
}
    
.card h1 {
    font-size: 1.2em;
    margin: 10px 0;
}
    
.card h2 {
    font-size: 1em;
    margin: 5px 0;
}
    
.card p {
    font-size: 0.9em;
}
.stockOn{
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}   
@media only screen and (max-width: 950px) {
    .card  {
        margin: 10px 5px;
        width: 150px;
        height: 305px;
        border: 1px solid var(--color-gray-1);
        border-radius: 5px;
    }
    .card img {
        width: 150px;
        height: 150px;
        object-fit: contain;
        justify-content: space-between;
    }
}
