
.containerProductoCategoria > div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.categoriaButton{
    font-size: xx-large;
    width: 35px;
    height: 300px;
    background: none;
    border-radius: 10px;
    color: var(--color-gray-4);
    border: solid 1px var(--color-gray-3);
}
.productocategoria{
    margin: 0 10px;
    
}
@media only screen and (max-width: 768px) {
    .categoriaButton{
        height: min-content;
        width: min-content;
        display: flex !important;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 3;
        background-color: none;
        border: none;
    }
    .categoriaButton:last-child{
        left: calc(100% - 40px)
    }
}