.container-categoryProducts{
    background-color: var(--color-white);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.container-categoryProducts h1{
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.categoryProducts button:hover{
    background-color: var(--color-gray-1);
}
.categoryProducts button:active{
    background-color: var(--color-gray-2);
}
.categoryProducts{
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.categoryProducts  button{
    font-size: xx-large;
    width: 35px;
    height: 350px;
    background: none;
    border-radius: 10px;
    border: solid 1px;
}
@media only screen and (max-width: 950px) {
    .categoryProducts  button{
        display: none;
    }
    .categoryProducts{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        gap: 5px;
    }
    .cart  {
        margin: 10px 5px;
        width: 150px;
        height: 305px;
        border: var(--color-gray-3) solid ;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}
@media only screen and (max-width: 768px) {
    
    .categoryProducts{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
