.container-categoryProducts{
    background-color: #fff;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.container-categoryProducts h1{
    margin-top: 5px;
    margin-left: 10px;
}
.categoryProducts{
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.categoryProducts  button{
    font-size: xx-large;
    width: 35px;
    height: 350px;
    background: none;
    border-radius: 10px;
    border: solid 1px;
}
