
.containerFooter{
    background-color: var(--color-gray-1);
    margin: 0;
    padding: 10px 0;
    color: var(--color-black);
    width: 100%;

}

.containerFooter > section {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.info{
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    max-width: 1200px; /* Establece un ancho máximo para evitar que el contenido se extienda demasiado en pantallas grandes */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

.copyright{
    text-align: center;
    font-size: 12px;
}

.infoPhone, .infoContacto, .infoLink{
    display: flex;
    flex-direction: column;
}

.infoPhone{
    align-items: center;
}

.infoPhone h4, .infoContacto h4, .infoLink h4{
    text-align: center;
}

.imaRedes{
    height: 25px;
    width: 25px;
    margin: 3px 5px;
}

.infoContacto{
    align-items: center;
}

.link{
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 15px;
}


/* Responsivo */
.infoPhone, .infoContacto, .infoLink{
    /* flex: 1; Permite que los elementos ocupen todo el espacio disponible horizontalmente */
    margin: 10px; /* Añade un poco de espacio entre los elementos */
}

@media screen and (max-width: 768px) {
    .info {
        flex-direction: column; /* Cambia la dirección de los elementos a columna en pantallas más pequeñas */
        align-items: center; /* Centra los elementos verticalmente */
    }
}