
.containerFooter{
    background-color: var(--color-gray-1);
    margin: 0;
    padding: 10px 0;
    color: var(--color-black);
    width: 100%;

}


.containerFooter > section {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.info{
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    margin-bottom: 5px;
}

.copyright{
    text-align: center;
    font-size: 12px;
}

.infoPhone, .infoContacto, .infoLink{
    display: flex;
    flex-direction: column;
}

.infoPhone{
    align-items: center;
}

.infoPhone h4, .infoContacto h4, .infoLink h4{
    text-align: center;

}

.imaRedes{
    height: 25px;
    width: 25px;
    margin: 3px 5px;
}

.infoContacto{
    align-items: center;
}

.link{
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 15px;
}