
.homeCat{
    display: grid;
    grid-template-columns: 2fr 9fr;
    align-items: start;
}


.category{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.category a {
    text-decoration: none;
    color: var(--color-black);
    font-size: large ;
}
.newProduct{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: space-around;
}
.categorys{
    margin: 5px;
    width: 100%;
}
.categoryLink{
    display: flex;
    align-items: center;
}
.categoryLink:hover{
    font-weight: 600;
}
.categoryLink >*{
    margin: 0 3px;
}
.categoryMovile{
    display: none;
}
@media only screen and (max-width: 950px) {

    .category *{
        padding-right: 5px;
    }
    .newProduct {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

}
@media only screen and (max-width: 768px) {
    .category{
        display: none;
    }
    .homeCat{
        display: flex;
        flex-direction: column;
    }
    .homeCat > *{
        width: 100%;
    }
    .categoryMovile{
        display: flex;
        width: 100%;
    }
    .categoryMovile  button{
        margin: 5px;
        width: 100%;
    }
}