
.homeCat{
    display: grid;
    grid-template-columns: 2fr 9fr;
    align-items: start;
}


.category{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.category a {
    text-decoration: none;
    color: var(--color-black);
    font-size: large ;
}
.newProduct{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.categorys{
    margin: 5px;
}
.categoryLink{
    display: flex;
    align-items: center;
}
.categoryLink:hover{
    font-weight: 600;
}
.categoryLink >*{
    margin: 0 3px;
}
@media only screen and (max-width: 950px) {
    .category{
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .category *{
        padding-right: 5px;
    }

    .homeCat{
        display: flex;
        flex-direction: column;
    }
}