.product-container{
    display: grid;
    grid-template-columns: 4fr 4fr 2fr;
    align-items: center;
    gap: 20px;
}
.productImg{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.productDescripcion{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.productDescripcion h1 {
    font-size: x-large;
}
.productDescripcion p {
    margin-bottom: 20px;
}
.productDescripcion h2 {
    font-size: large;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid var(--color-gray-3) 1px;
}

.cartButtonCant {
    border: solid 1px #000;
    border-radius: 10px;
    width: min-content;
    height: min-content;
    display: flex;

}

.ButtonCant{
    background: none;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: x-large;
}
.ButtonCant:last-child{
    border-radius: 0 10px 10px 0;
    font-size: xx-large
}
.ButtonCant:first-child{
    border-radius:10px 0 0 10px;
    font-size: xx-large
}
.ButtonCant:hover{
    background-color: var(--color-gray-1);
}
.ButtonCant:active{
    background-color: var(--color-gray-2);
}
.buttonsAddFavor{
    display: flex;
    align-items: center;
    height: auto;
}
.addCart{
    background-color:var(--color-secondary);
    margin: 10px 0;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    font-size: large;
    margin-right: 20px;
    cursor: pointer;
}
.favorCart{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: x-large;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redColor {
    background-color: var(--color-red);
    color: var(--color-gray-1);
}

.blackColor {
    background-color: var(--color-gray-2);
}

.ProductCart{
    display: flex;
    flex-direction: column;
    border: var(--color-primary) solid 1px; 
    border-radius: 10px;
}
.yourCart{
    padding: 10px;
    font-weight:bold;
}
.ProductCart img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 5px;
}
.ProductCart .buttonshop{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.ProductCartProduct{
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.ProductCartProduct p{
    margin-top: 10px;
}

.ProductCartSubTotal{
    margin: 10px;
    display: flex;
    border-bottom: 1px solid var(--color-gray-3);
    border-top: 1px solid var(--color-gray-3);
    padding: 5px 0;
}
.ProductCartSubTotal p{
    margin: 0 10px;
}
.ProductCartShop{
    background-color:var(--color-secondary);
    margin: 10px 0;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    font-size: large;
    margin-left: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
}

@media only screen and (max-width: 768px) {
    
    .product-container{
        display: flex;
        flex-direction: column;
    }
    .productImg{
        width: auto;
    }
    .productImg > img{
        padding: 5px;
    }
    .productDescripcion{
        padding: 5px;
    }
    .containerButtonsProduct{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ButtonCant{
        width: 40px;
        height: 40px;
    }
    .cartButtonCant{
        margin-right: 5px;
    }
    .addCart{
        height: 40px;
        
    }
    .ProductCart{
        flex-direction: column-reverse;
        width: 100%;
    }
    .ProductCart > p{
        display: none;
    }
    .buttonshop{
        margin-top: 5px;
    }
}